@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    transition: background-color 0.5s ease, color 0.5s ease;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotate-glitter {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.glittering-button {
    position: relative;
    isolation: isolate;
}

.glittering-button::before {
    content: "";
    position: absolute;
    inset: -2px;
    background: conic-gradient(from 0deg, #ff00ff, #00ff00, #0000ff, #ff00ff);
    border-radius: inherit;
    z-index: -1;
    animation: rotate-glitter 4s linear infinite;
}

.glittering-button::after {
    content: "";
    position: absolute;
    inset: 1px;
    background: inherit;
    border-radius: inherit;
    z-index: -1;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
